@charset "utf-8";
/************************************************************************
* filename : main.css
* description : 메인 css
************************************************************************/
#wrap.pre_loading {/*visibility: hidden;*/opacity:0;}
.preloader {background:rgba(255,255,255); }

body.ma_body  #container {width:100%; min-width:1260px;}
body.ma_body  #content {padding:0 0;}
body.ma_body  .fix_contsbtm.btm {bottom:317px;}

#wrap.pre_loading { opacity:0; }
.preloader {background:rgba(255,255,255); }

/* 상단 띠배너 */
.ma_top_brn {min-width:1260px; margin:0 auto; overflow:hidden; transition:all 0.26s cubic-bezier(0.165,0.84,0.44,1); -webkit-transition:all 0.26s cubic-bezier(0.165,0.84,0.44,1);background-color:#f2f2f2;}
.ma_top_brn.close { height:0 !important; }
.ma_top_brn .brn_wrap {position:relative; width:1180px; margin:0 auto;}
.ma_top_brn .brn_wrap a {display:block;}
.ma_top_brn .btn_close {position:absolute; right:-23px; top:50%; width:24px; height:24px; margin-top:-12px; background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_set.png') -750px 0 no-repeat; background-size:800px 800px;}
.ma_top_brn.system {height:50px;}
.ma_top_brn.system .brn_wrap {padding-top:10px;}
.ma_top_brn.system .brn_wrap a {display:inline-block;}
.ma_top_brn.system .btn_close {right:-23px; top:50%; width:20px; height:20px; margin-top:-5px; background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_set.png') -280px 0 no-repeat; background-size:800px 800px;}
.ma_top_brn .swiper-slide strong {font-weight:500;color:#222;line-height:1.6;letter-spacing:-0.5px;font-size:15px;}
.ma_top_brn .swiper-slide span {position:relative;padding-left:15px;margin-left:12px;color:#606060;line-height:1.71;letter-spacing:-0.5px;font-size:14px;font-weight:normal;}
.ma_top_brn .swiper-slide span:before {position:absolute;left:0;top:3px;display:inline-block;width:1px;height:16px;background-color:#e0e0e0;content:'';}
.ma_top_brn .swiper-slide a {margin-left:6px;color:#00893d;line-height:1.85;letter-spacing:-0.5px;font-size:13px;text-decoration:underline;}
.ma_top_brn .swiper-pagination {right:30px;left:inherit!important;bottom:0;top:50%;text-align:right;margin-top:-12px;width:auto !important;left:auto;}
.ma_top_brn .swiper-pagination .swiper-pagination-bullet-active {background-color:#666;}
.ma_top_brn.marketing .brn_wrap a {height:80px; text-align:center}

/* indigator */
.indigator_pos {position:absolute; z-index:4; left:50%; width:1180px; height:1px;; margin-left:-590px;}

/* indigator white */
.indigator.white span {color:#fff;}
.indigator.white .prev {background-position:-540px -24px;}
.indigator.white .next {background-position:-564px -24px;}

/* title */
body.ma_body .sec_tit {position:relative; width:1180px; margin:0 auto;}
body.ma_body .sec_tit:after{content:'';display:table;clear:both;}
body.ma_body .sec_tit .tit {color:#101010; font-weight:700; font-size:40px; line-height:56px;}
body.ma_body .sec_tit .sub_tit{font-size:15px;line-height:23px;color:#606060;margin-top:14px;}
body.ma_body .sec_tit .link_txt {position:absolute; right:0; bottom:10px; color:#202020; font-weight:700; font-size:18px; line-height:27px;}
body.ma_body .sec_tit .link_txt.ico_arr{bottom:0;}
body.ma_body .sec_tit .link_txt.ico_arr:after{position:relative;top:3px;display:inline-block;content:'';width:14px;height:20px;background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_lansun_arrow.svg') no-repeat 0 2px;vertical-align:top;margin-left:4px;}

/* billboard */
.ma_billboard {position:relative; width:100%; max-width:1920px; height:640px; margin:0 auto; overflow:hidden;}
.ma_billboard .indigator_pos {bottom:64px;}
.ma_billboard .indigator {left:0; right:auto; top:0; z-index:4;}
.ma_billboard .prod_list {width:100%;}
.ma_billboard .prod_list:after{content:'';display:table;clear:both;}
.ma_billboard .prod_list li {float:left; width:100%;}
.ma_billboard .prod_list .pro_module {width:100%; height:640px; overflow:hidden;}
.ma_billboard .prod_list .pro_module .img_wrap {width:100%;}
.ma_billboard .prod_list .pro_module .img_wrap img {position:relative; left:50%; width:1920px; height:640px; margin-left:-960px;}
.ma_billboard .prod_list .pro_module .img_wrap.vr_dom { z-index:1; width:100%; height:640px; }
.ma_billboard .prod_list .pro_module .img_wrap.vr_dom a { width:100%; height:640px; }
.ma_billboard .prod_list .pro_module .video_ma_wrap {position:absolute; width:100%;top:0;z-index:0;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video-poster {transform:translateX(-50%);left:50% !important;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video_ma_wrap_inner {position:absolute; top:0;  width:1920px; height:640px; z-index:0;}
.ma_billboard .prod_list .pro_module .video_ma_wrap video {width:1920px; height:640px;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video_btn_wrap {position:absolute; left:auto;right:2%; top:40px;height:1px; text-align:right;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video_btn_wrap .btn {display:inline-block; width:41px; height:41px; margin-left:10px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat; background-size:800px 800px;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video_btn_wrap .btn.btn_sound {background-position:-320px -320px;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video_btn_wrap .btn.btn_sound.on {background-position:-220px -320px;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video_btn_wrap .btn.btn_play {background-position:-370px -320px;}
.ma_billboard .prod_list .pro_module .video_ma_wrap .video_btn_wrap .btn.btn_play.on {background-position:-270px -320px;}
.ma_billboard .prod_list .pro_module .txt_position {position:absolute; left:50%; top:80px; width:1180px; height:444px; margin-left:-590px; z-index:4;}
.ma_billboard .prod_list .pro_module .txt_wrap {padding-top:0; padding-right:600px;}
.ma_billboard .prod_list .pro_module .txt_wrap a {display:table-cell; height:auto; vertical-align:top;}
.ma_billboard .prod_list .pro_module .txt_wrap .tit_info .sub_tit {display:block; color:#101010; font-size:68px; line-height:1.24;letter-spacing:-6px;}
.ma_billboard .prod_list .pro_module .txt_wrap .tit_info .tit {display:block; font-weight:500; font-size:52px; line-height:64px}
.ma_billboard .prod_list .pro_module .txt_wrap .tit_info .sub_tit,
.ma_billboard .prod_list .pro_module .txt_wrap .tit_info .tit {overflow:visible; white-space:normal; word-wrap:break-word;}
.ma_billboard .prod_list .pro_module .txt_wrap .tit_info .sub_discription {display:block; color:#101010;font-size:48px;line-height:60px;letter-spacing: -2.5px;padding-bottom:6px}
.ma_billboard .prod_list .pro_module .txt_wrap .tit_info .sub_discription_evt {display:block; color:#101010;font-size:24px;line-height: 1.33;letter-spacing: -0.5px;padding-top:10px}
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info {padding:20px 0 19px;}
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info .txt {padding-right:24px; color:#101010; font-weight:500; font-size:18px; line-height:27px}
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info .txt.person,
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info .txt.hour {padding-left:28px;}
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info .txt.person:before,
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info .txt.hour:before {content:''; display:block; position:absolute; top:50%; left:0; width:20px; height:20px; margin-top:-9px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat; background-size:800px 800px;}
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info .txt.person:before {background-position:-550px 0;}
.ma_billboard .prod_list .pro_module .txt_wrap .etc_info .txt.hour:before {background-position:-580px 0;}
.ma_billboard .prod_list .pro_module .txt_wrap .price_info .sale {font-weight:700; font-size:40px; line-height:56px}
.ma_billboard .prod_list .pro_module .txt_wrap .price_info .cost {font-weight:500; font-size:18px; line-height:36px; vertical-align:bottom;}
.ma_billboard .prod_list .pro_module .act_btn_wrap {/*position:absolute; left:0; top:313px;*/ margin-top:0;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .btn {width:48px; height:48px; margin-left:14px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat; background-size:800px 800px;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .btn.btn_cart {background-position:-670px -74px;} /* 장바구니담기 */
.ma_billboard .prod_list .pro_module .act_btn_wrap .btn.btn_cart.on {background-position:-610px -74px;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .btn.btn_resel {background-position:-670px -132px;} /* 재판매알림 */
.ma_billboard .prod_list .pro_module .act_btn_wrap .btn.btn_resel.on {background-position:-610px -132px;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .price_info {display:inline-block; padding-top:0; font-size:0; vertical-align:middle;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .price_info .sale {display:inline-block; color:#101010; font-weight:700; font-size:40px; line-height:56px; vertical-align:middle;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .price_info .sale .price {display:inline-block; vertical-align:top;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .price_info .sale .won {letter-spacing:0;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .price_info .sale .price_name {display:inline-block; margin-right:5px; color:#EE0700;  vertical-align:top;}
.ma_billboard .prod_list .pro_module .act_btn_wrap .price_info .cost {display:inline-block; padding-left:6px; color:#606060; font-weight:500; font-size:18px; line-height:36px;  text-decoration:line-through; vertical-align:bottom;}
.ma_billboard .prd_flag_wrap {padding-bottom: 23px;}
.ma_billboard .prd_flag_wrap .flag,
.ma_billboard .prd_flag_wrap .flag.closing,
.ma_billboard .prd_flag_wrap .flag.new {min-width:70px; padding:0 16px;height:40px; margin:0 10px 0 0; background-color:#202020; border:1px solid #202020; color:#fff; font-weight:700; font-size:22px; line-height:38px}
.ma_billboard .prd_flag_wrap .flag:nth-of-type(1) {margin-left:0;}
.ma_billboard .prod_list li.white .prd_flag_wrap .flag,
.ma_billboard .prod_list li.white .prd_flag_wrap .flag.closing,
.ma_billboard .prod_list li.white .prd_flag_wrap .flag.new {background-color:#fff; border:1px solid #fff; color:#101010;}
.ma_billboard .prod_list li.white .pro_module .txt_wrap .tit_info .sub_tit,
.ma_billboard .prod_list li.white .pro_module .txt_wrap .tit_info .tit,
.ma_billboard .prod_list li.white .pro_module .txt_wrap .etc_info .txt,
.ma_billboard .prod_list li.white .pro_module .act_btn_wrap .price_info .sale .price_name,
.ma_billboard .prod_list li.white .pro_module .act_btn_wrap .price_info .sale .price,
.ma_billboard .prod_list li.white .pro_module .act_btn_wrap .price_info .cost,
.ma_billboard .prod_list li.white .pro_module .txt_wrap .tit_info .sub_discription,
.ma_billboard .prod_list li.white .pro_module .txt_wrap .tit_info .sub_discription_evt {color:#fff;}
.ma_billboard .prod_list li.white .pro_module .act_btn_wrap .price_info .cost {opacity:0.6;}
.ma_billboard .prod_list li.white .pro_module .txt_wrap .etc_info .txt.person:before {background-position:-550px -30px;}
.ma_billboard .prod_list li.white .pro_module .txt_wrap .etc_info .txt.hour:before {background-position:-580px -30px;}
.ma_billboard .prod_list li.white .pro_module .act_btn_wrap .btn.btn_cart {background-position:-610px -74px;} /* 장바구니담기 */
/* .ma_billboard .prod_list li.white .pro_module .act_btn_wrap .btn.btn_cart.on {background-position:-670px -74px;} */
.ma_billboard .prod_list li.white .pro_module .act_btn_wrap .btn.btn_resel {background-position:-610px -132px;} /* 재판매알림 */
.ma_billboard .prod_list li.white .pro_module .act_btn_wrap .btn.btn_resel.on {background-position:-670px -132px;}
.ma_billboard .prod_list .pro_module.old_type .img_wrap {height:640px; overflow:hidden;}
.ma_billboard .prod_list .pro_module.old_type .img_wrap img {z-index:2; opacity:0.3;}
.ma_billboard .prod_list .pro_module.old_type .img_wrap .dim_1 {position:absolute; z-index:1; left:50%; top:0; width:1920px; height:640px; margin-left:-960px; background-color:#000;}
.ma_billboard .prod_list .pro_module.old_type .img_wrap .dim_2 {position:absolute; z-index:3; left:50%;  top:0; width:1920px; height:640px; margin-left:-960px;}
.ma_billboard .prod_list .pro_module.old_type .img_wrap .dim_2 span {display:block; width:1440px; height:640px; background-color:transparent; 
    background:-moz-linear-gradient(to left, rgba(0,0,0,0) 30%, rgba(0,0,0,.34) 90%);
    background:-webkit-linear-gradient(to left, rgba(0,0,0,0) 30%, rgba(0,0,0,.34) 90%);
    background:linear-gradient(to left, rgba(0,0,0,0) 30%, rgba(0,0,0,.34) 90%);
}
.ma_billboard .prod_list .pro_module.old_type .video_ma_frame {position:absolute; z-index:8; left:50%; top:0; width:1180px; height:1px; margin-left:-590px;}
.ma_billboard .prod_list .pro_module.old_type .video_ma_wrap {position:absolute; left:auto; right:0; top:135px; width:660px; height:370px;}
.ma_billboard .prod_list .pro_module.old_type .video_ma_wrap video {width:660px; height:370px;}
.ma_billboard .prod_list .pro_module.old_type .video_ma_wrap .video_btn_wrap {position:absolute; left:auto; right:0; top:-96px; width:100px; height:1px; margin-left:0; text-align:right;}
.ma_billboard .prod_list .pro_module.old_type .txt_position {z-index:9;}
.ma_billboard .prod_list .pro_module.old_type .txt_wrap {padding-right:0;z-index:1;width:600px}
.ma_billboard .prod_list .pro_module .vr_link{display:block;position:absolute;top:140px;right:0;width:720px;height:500px;z-index:5;cursor: pointer;}
.row_grid {width:1180px; margin:60px auto 0;}
.row_grid:after{content:'';display:table;clear:both;}

/* 배송 로그인 전/구매이력이 없을 경우 */
.ma_delivery .link_map,
.ma_no_delivery .link_map {display:inline-block; position:relative; padding-left:24px; }
.ma_delivery .link_map:before,
.ma_no_delivery .link_map:before {content:''; position:absolute; left:0; bottom:3px; width:20px; height:20px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat -660px -40px; background-size:800px 800px;}
.ma_delivery .link_map span,
.ma_no_delivery .link_map span {color:#101010; font-weight:500; font-size:18px; line-height:27px;}
.ma_no_delivery {position:relative; float:left; width:578px; margin-right:24px; background:#F2F2F2;}
.ma_no_delivery a {display:block; height:165px; padding:24px 168px 0 32px;}
.ma_no_delivery a:after {content:''; position:absolute; right:32px; top:31px; width:104px; height:104px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat -476px -200px; background-size:800px 800px;}
.ma_no_delivery strong {display:block; color:#101010; font-weight:700; font-size:24px; line-height:34px }
.ma_no_delivery p {padding:8px 0 21px; color:#101010; font-size:15px; line-height:23px;}

/* 배송 : 로그인 후 구매이력이 있는 경우 */
.ma_delivery {float:left; width:578px; margin-right:24px; background:#F2F2F2;}
.ma_delivery .login_delivery {position:relative;}
.ma_delivery .login_delivery a {display:block; height:165px; padding:24px 168px 0 32px;}
.ma_delivery .login_delivery a::before {content:''; position:absolute; right:32px; top:24px; width:117px; height:117px; border-radius:50%; background-color:#fff;}
.ma_delivery .login_delivery .hd {padding-bottom:8px;}
.ma_delivery .login_delivery .hd strong {margin-right:8px; font-weight:700; font-size:24px; line-height:34px}
.ma_delivery .login_delivery .hd .state01,
.ma_delivery .login_delivery .hd .state05,
.ma_delivery .login_delivery .hd .state06 {color:#008A00;}
.ma_delivery .login_delivery .hd .state02,
.ma_delivery .login_delivery .hd .state03,
.ma_delivery .login_delivery .hd .state04 {color:#0379A6;}
.ma_delivery .login_delivery .info {padding-bottom:21px;}
.ma_delivery .login_delivery .info p {display:inline-block; padding-right:8px; color:#101010; font-size:15px; line-height:23px}
.ma_delivery .login_delivery .info p span {font-weight:700;}
.ma_delivery .login_delivery .info p:before {content:''; display:inline-block; position:relative; top:-2px; width:1px; height:14px; margin-right:8px; background-color:#D0D0D0; vertical-align:middle;}
.ma_delivery .login_delivery .info p:first-child:before {display:none}
.ma_delivery .login_delivery .img_wrap {position:absolute; right:28px; top:20px; width:125px; height:125px; }
.ma_delivery .login_delivery .img_wrap:before {content:''; position:absolute; z-index:2; left:0; top:0; width:125px; height:125px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') -640px -320px no-repeat; background-size:800px 800px;}
.ma_delivery .login_delivery .img_wrap img {width:100%;}
.ma_delivery .login_delivery .btn_link {font-weight:500;}

/* 쿠폰 발급된 케이스 */
.ma_coupon {position:relative; float:left; width:578px; height:165px; padding-right:216px; background-color:#31A331;}
.ma_coupon:before {content:''; position:absolute; right:0; top:0; width:216px; height:165px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') -250px 0 no-repeat; background-size:800px 800px;}
.ma_coupon .coupon_wrap {}
.ma_coupon .coupon_wrap .indigator {position:absolute; right:32px; top:auto; bottom:16px;}
.ma_coupon .coupon_wrap .list_slide .indigator span {color:#fff;}
.ma_coupon .coupon_wrap .list_slide .indigator .prev {background-position:-540px -24px;}
.ma_coupon .coupon_wrap .list_slide .indigator .next {background-position:-564px -24px;}
.ma_coupon .coupon_wrap .coupon_list {width:100%; overflow:hidden;}
.ma_coupon .coupon_wrap .coupon_list:after{content:'';display:table;clear:both;}
.ma_coupon .coupon_wrap .coupon_list li {float:left; width:362px;}
.ma_coupon .coupon_wrap .coupon_list a.cont {display:block; height:165px;}
.ma_coupon .coupon_wrap .coupon_list .con_wrap {padding:16px 0 0 32px;}
.ma_coupon .coupon_wrap .coupon_list .con_wrap .major {display:block; margin-bottom:2px; color:#fff; font-weight:500; font-size:36px; line-height:52px; vertical-align:bottom;}
.ma_coupon .coupon_wrap .coupon_list .con_wrap .major.ko {font-size:32px;}
.ma_coupon .coupon_wrap .coupon_list .con_wrap .major .unit {margin-left:2px; font-weight:700; font-size:20px; line-height:30px; vertical-align:0;}
.ma_coupon .coupon_wrap .coupon_list .con_wrap p.txt {color:#fff; font-size:15px; line-height:23px}
.ma_coupon .coupon_wrap .coupon_list .con_wrap .bottom_txt {margin-top:21px;}
.ma_coupon .coupon_wrap .coupon_list .con_wrap .bottom_txt .date {display:inline-block; color:#fff; font-weight:500; font-size:18px; line-height:30px}
.ma_coupon .coupon_wrap .coupon_list .con_wrap .bottom_txt .dday {display:inline-block; min-width:64px; height:30px; margin-left:4px; padding:0 13px; border-radius:19px; background-color:rgba(32, 32, 32, 0.2); color:#fff; font-weight:500; font-size:18px; line-height:30px;}

/* 쿠폰 발급이 안된 케이스 */
.ma_no_coupon {position:relative; float:left; width:578px; height:165px; background:#F2F2F2;}
.ma_no_coupon .link_time {display:inline-block; position:relative; padding-left:24px; color:#606060; font-size:13px; line-height:27px}
.ma_no_coupon .link_time:before {content:''; position:absolute; left:0; bottom:5px; width:20px; height:20px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat -580px 0; background-size:800px 800px;}
.ma_no_coupon .link_time span {margin-right:8px; color:#101010; font-weight:500; font-size:18px; line-height:27px;}
.ma_no_coupon a {display:block; height:165px; padding:24px 168px 0 32px;}
.ma_no_coupon a:after {content:''; position:absolute; right:32px; top:31px; width:104px; height:104px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat -600px -200px; background-size:800px 800px;}
.ma_no_coupon strong {display:block; color:#101010; font-weight:700; font-size:24px; line-height:34px }
.ma_no_coupon p {padding:8px 0 20px; color:#101010; font-size:15px; line-height:23px;}

/* 추천상품 */
.ma_individ {position:relative; margin:16px auto 0; max-width:1920px; max-height:520px; overflow:hidden;}
.ma_individ .individ {position:relative; width:1180px; margin:0 auto;}
.ma_individ .individ:before {content:''; position:absolute; z-index:10; left:301px; top:306px; width:141px; height:180px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') 0 0 no-repeat; background-size:800px 800px;} 
.ma_individ .individ dl:after{content:'';display:table;clear:both;}
.ma_individ .individ dt {position:relative; z-index:8; float:left; width:339px; height:520px; padding-top:116px;}
.ma_individ .individ dt .major .row {color:#101010; font-size:40px; line-height:56px}
.ma_individ .individ dt .major .sl_taste {position:relative; display:inline-block; vertical-align:middle;z-index:4;}
.ma_individ .individ dt .major .sl_taste .sl_hd {position:relative; top:-4px; width:222px; border-bottom:4px solid #202020; overflow:visible; text-align:left; z-index:3;}
.ma_individ .individ dt .major .sl_taste .sl_hd strong {display:inline-block; color:#101010; font-weight:700; font-size:40px; line-height:54px; padding-right:40px;}
.ma_individ .individ dt .major .sl_taste .sl_hd:after {content:''; position:absolute; top:50%;right:7px;width:13px;height:13px;margin-top:-9px;border-right:2.5px solid #303030;border-bottom:2.5px solid #303030;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);}
.ma_individ .individ dt .major .sl_taste.on .sl_hd:after {margin-top:-3px; -ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);transform:rotate(-135deg);}
.ma_individ .individ dt .major .sl_taste.on .lay_sl {display:block;max-height:286px;overflow-y:auto;scrollbar-face-color: #e0e0e0;scrollbar-track-color: #fff;scrollbar-arrow-color: none;scrollbar-highlight-color: #e0e0e0;scrollbar-3dlight-color: none;scrollbar-shadow-color: #e0e0e0;scrollbar-darkshadow-color: none;}
.ma_individ .individ dt .major .sl_taste .lay_sl {display:none; position:absolute; left:0; top:58px; width:222px; padding:7px 0; border:1px solid #202020; background:#fff; z-index:1;}
.ma_individ .individ dt .major .sl_taste .lay_sl a {display:block; width:100%; height:54px; padding:5px 0 0 23px; color:#606060; font-weight:500; font-size:28px; line-height:42px; text-align:left;}
.ma_individ .individ dt .major .sl_taste .lay_sl a.selected,
.ma_individ .individ dt .major .sl_taste .lay_sl a:hover {background-color:#f7f7f7; color:#101010;}
.ma_individ .individ dt .desc {position:relative;padding-top:12px; color:#606060; font-weight:400; font-size:15px; line-height:23px;z-index:3;}
.ma_individ .individ dt .desc .txt {color:#008A00; font-weight:400; text-decoration:underline;}
.ma_individ .individ dt .desc .name {color:#101010; font-weight:700;}
.ma_individ .individ dt .desc a.link_txt_green {font-weight:500;}
.ma_individ .individ dd {position:absolute; left:340px; float:left; width:1180px; height:520px; top:0;overflow: hidden;}
.ma_individ .individ .dim_le_ma_wrap {position:absolute; z-index:2; left:202px; top:0; width:327px; height:520px; background:#fff; background:-moz-linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%); background:-webkit-linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%); background:linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%); opacity:0.6;}
.ma_individ .individ .indigator {position:absolute; left:0; bottom:108px; right:auto; top:auto;}
.ma_individ .individ .indigator span{font-size:18px;line-height:27px;color:#101010;}
.ma_individ .individ .indigator em{font-weight:500;}
.ma_individ .individ .indigator button{display:inline-block;width:24px;height:24px;margin-top:-2px;background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_set.png') no-repeat; background-size:800px 800px;vertical-align: middle}
.ma_individ .individ .indigator .prev{margin-right:12px;background-position:-540px 0;}
.ma_individ .individ .indigator .next{margin-left:12px;background-position:-564px 0;}
.ma_individ .individ .prod_list {position:absolute; left:0; top:0; min-width:1574px;}
.ma_individ .individ .prod_list li {float:left; width:787px;}
.ma_individ .individ .prod_list li:first-child {margin-left:0;}
.ma_individ .individ .prod_list .pro_module {display:table-cell; width:787px; height:520px; padding:0 48px 0 477px; vertical-align:middle;}
.ma_individ .individ .pro_module .img_wrap {position:absolute; z-index:0; left:0; top:0; width:520px; height:520px;}
.ma_individ .individ .pro_module .img_wrap a {display:block;}
.ma_individ .individ .pro_module .img_wrap img {width:100%;}
.ma_individ .individ .pro_module .txt_wrap {position:relative; z-index:4; padding:0 0 24px;}
.ma_individ .individ .pro_module .txt_wrap .tit_info .tit {max-height:60px; font-weight:700; font-size:20px; line-height:30px}
.ma_individ .individ .pro_module .txt_wrap .price_info {padding-top:14px;}
.ma_individ .individ .pro_module .txt_wrap .price_info .sale {font-weight:700; font-size:28px; line-height:42px}
.ma_individ .individ .pro_module .txt_wrap .price_info .servings {line-height:36px; vertical-align:bottom;}
.ma_individ .individ .pro_module .act_btn_wrap {display:inline-block; margin-top:0; margin-left:16px}
.ma_individ .individ .pro_module .pd_tag span {display:inline-block; margin:6px 6px 0 0; color:#606060; font-size:14px; line-height:22px;}
.ma_individ .dim_ma_wrap {position:absolute; left:50%; top:0; width:1920px; height:1px; margin-left:-960px;}
.ma_individ .dim_ma_wrap span {position:absolute; z-index:6; right:0; top:0; width:424px; height:520px; background:#fff; background:-moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%);
    background:-webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%);
    background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%);  opacity:0.8;}

/* 이벤트(배너) */
.ma_event {max-width:1920px; height:280px; margin:16px auto; overflow:hidden;}
.ma_event .ev_ma_wrap {position:relative; max-width:1920px; min-width:1260px; max-height:280px; margin:0 auto;overflow: hidden}
.ma_event .ev_ma_wrap .list_ev:after{content:'';display:table;clear:both;}
.ma_event .ev_ma_wrap .list_ev li {position:relative; float:left; overflow:hidden; width:100vw;}
.ma_event .ev_ma_wrap .list_ev li a.bann {text-align:center;display:block;}
.ma_event .ev_ma_wrap .list_ev li a.bann img {display:block; position:relative; left:50%; width:1920px; height:280px; margin-left:-960px; }
.ma_event .ev_ma_wrap .indigator_pos {bottom:44px;}
.ma_event .ev_ma_wrap .indigator_pos .indigator_cont {position:absolute; top:4px; left:0; right:auto; top:0; z-index:4; height:20px; padding:0 24px 0 21px; background-color:rgba(0, 0, 0, 0.2); border-radius:11px;}
.ma_event .list_slide .indigator{position:static;}
.ma_event .list_slide .indigator .indi_wrap {display:block; line-height:0}
/*.ma_event .list_slide .indigator span{font-size:18px;line-height:27px;color:#101010;}
.ma_event .list_slide .indigator em{font-weight:500;}*/
.ma_event .list_slide .indigator button{position:absolute; top:0; width:12px;height:20px;padding:0 0; margin:0 0 0 0; background:none; vertical-align: middle;}
.ma_event .list_slide .indigator button:after {content:''; position:absolute; left:0; top:4px; width:12px; height:12px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat; background-size:800px 800px;}
.ma_event .list_slide .indigator .prev{left:8px;}
.ma_event .list_slide .indigator .next{right:8px;}
.ma_event .list_slide .indigator .prev:after {background-position:-488px -328px;}
.ma_event .list_slide .indigator .next:after {background-position:-514px -328px;}
.ma_event .list_slide .indi_wrap {display:inline-block; font-size:0; line-height:0; vertical-align:top;}
.ma_event .list_slide .indi_wrap li {display:inline-block; font-size:0; line-height:0;}
.ma_event .list_slide .indi_wrap button {position:relative; width:12px;height:20px;padding:0 0; margin:0 0 0 3px;}
.ma_event .list_slide .indi_wrap button:after {content:''; position:absolute; left:0; top:4px; width:12px; height:12px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat; background-size:800px 800px;}
.ma_event .list_slide .indi_wrap li .btn_indi:after {background-position:-538px -328px;}
.ma_event .list_slide .indi_wrap li.on .btn_indi:after {background-position:-562px -328px;}

/* 베스트 */
.ma_best {width:1180px; margin:140px auto 0;}
.ma_best .prod_list {margin-top:40px; overflow:hidden;}
.ma_best .prod_list ul {float:left; width:1221px; margin:-64px 0 0 -41px;}
.ma_best .prod_list li {float:left; width:366px; height:498px; margin:64px 0 0 41px;}
.ma_best .prod_list .pro_module .img_wrap {position:relative; width:366px; height:366px;}
.ma_best .prod_list .pro_module .img_wrap .flag_num {position:absolute; left:16px; top:16px; width:48px; height:48px; padding-top:11px; background:#202020; color:#fff; font-size:16px; line-height:24px; letter-spacing:0; text-align:center;}
.ma_best .prod_list .pro_module .img_wrap .flag_num.best {width:64px; height:64px; padding:8px 0 0 10px; text-align:left}
.ma_best .prod_list .pro_module .img_wrap .flag_num.best span {display:block; margin-bottom:-2px;}
.ma_best .prod_list .pro_module .txt_wrap .tit_info .tit {width:310px;}
.ma_best .prod_list .pro_module .act_btn_wrap {position:absolute; right:0; top:auto; bottom:2px;}

/* 핫딜 */
.ma_hot_deal {margin-top:140px;max-height:568px;overflow:hidden;}
.ma_hot_deal .sec_tit {padding-bottom:32px;}
.ma_hot_deal .hot_deal_wrap {position:relative; max-width:1920px; min-width:1260px; height:480px; margin:0 auto; overflow:hidden;}
.ma_hot_deal .hot_deal_wrap .indigator_pos {bottom:59px;}
.ma_hot_deal .hot_deal_wrap .indigator {left:0; right:auto; top:0; z-index:4;}
.ma_hot_deal .hot_deal_wrap .prd_list:after{content:'';display:table;clear:both;}
.ma_hot_deal .hot_deal_wrap .prd_list li {float:left; width:100vw; margin-left:0;}
.ma_hot_deal .hot_deal_wrap .prd_list .pro_module {position:relative; width:100%; height:480px; overflow:hidden;}
.ma_hot_deal .hot_deal_wrap .prd_list .img_wrap {width:100%;}
.ma_hot_deal .hot_deal_wrap .prd_list .img_wrap img {position:relative; left:50%; width:1920px; height:480px; margin-left:-960px;}
.ma_hot_deal .hot_deal_wrap .prd_list .txt_position {position:absolute; left:50%; top:98px; width:1180px; height:284px; margin-left:-590px; padding-bottom:64px;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap {display:table-cell; height:220px; padding:0 816px 0 0; vertical-align:middle;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .hot_flg_wrap {position:absolute; left:1034px; top:-42px; width:144px; height:144px; background-color:#fff; border-radius:50%;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .hot_flg {display:table-cell; width:144px; height:144px; text-align:center; vertical-align:middle;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .hot_flg p {padding-bottom:2px; color:#008A00; font-weight:700; font-size:24px; line-height:34px}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .hot_flg span {color:#101010; font-weight:700; font-size:24px; line-height:34px; vertical-align:middle}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .tit_info .tit {color:#fff; max-height:150px; font-size:36px; line-height:50px; -moz-line-clamp:3;-ms-line-clamp:3;-webkit-line-clamp:3;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .price_info {padding-top:16px;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .price_info .sale .price_name {margin-right:10px; color:#BDD61A; font-weight:700; font-size:36px; line-height:54px;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .price_info .sale .price {color:#fff; font-weight:700; font-size:36px; line-height:54px;}
.ma_hot_deal .hot_deal_wrap .pro_module .txt_wrap .price_info .cost {color:#fff; opacity:0.6; font-size:20px; line-height:38px; vertical-align:bottom}
.ma_hot_deal .hot_deal_wrap .pro_module .act_btn_wrap {}
.ma_hot_deal .hot_deal_wrap .pro_module .act_btn_wrap {position:static; margin-top:16px; font-size:0; z-index:1;}
.ma_hot_deal .hot_deal_wrap .pro_module .act_btn_wrap .btn {width:48px; height:48px; margin-left:0; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat; background-size:800px 800px;}
.ma_hot_deal .hot_deal_wrap .prd_list .pro_module .act_btn_wrap .btn.btn_cart {background-position:-610px -74px;} /* 장바구니담기 */
.ma_hot_deal .hot_deal_wrap .prd_list .pro_module .act_btn_wrap .btn.btn_cart.on {background-position:-670px -74px;}
.ma_hot_deal .hot_deal_wrap .prd_list .pro_module .act_btn_wrap .btn.btn_resel {background-position:-610px -132px;} /* 재판매알림 */
.ma_hot_deal .hot_deal_wrap .prd_list .pro_module .act_btn_wrap .btn.btn_resel.on {background-position:-670px -132px;}

/* 리뷰 */
.ma_review {position:relative; max-width:1920px; max-height:508px; margin:140px auto -60px; overflow:hidden}
.ma_review .rv_m_wrap {position:relative; width:1180px; height:421px; margin:31px auto 0;}
.ma_review .rv_m_wrap:before {content:''; z-index:11; position:absolute; left:961px; top:-80px; width:111px; height:138px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') 0 -240px no-repeat; background-size:800px 800px;}
.ma_review .rv_m_wrap .rv_m_list {height:421px;}
.ma_review .rv_m_wrap .indigator {left:0; bottom:92px; right:auto; top:auto;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt {position:absolute; left:0; top:0; width:330px; height:284px; overflow:hidden;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt:before {content:''; position:absolute; left:0; top:0; width:25px; height:19px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') -680px 0 no-repeat; background-size:800px 800px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt li {position:absolute; left:0; top:31px; width:100%; height:259px; opacity:0;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt li.on {z-index:2;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt a.txt_cont {display:block}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .tit {color:#101010; font-weight:700; font-size:20px; line-height:30px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .txt_wrap {padding-top:20px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt p.mt_elps {width:100%; max-height:90px; color:#101010; font-weight:500; font-size:20px; line-height:30px; -moz-line-clamp:3;-ms-line-clamp:3;-webkit-line-clamp:3;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .rating_wrap {margin-top:24px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .rating_wrap .rating_star {padding:0;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .rating_wrap .rating_star .star,
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .rating_wrap .rating_star span {width:126px; height:24px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') no-repeat -200px -380px; background-size:800px 800px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .rating_wrap .rating_star span {background-position:-200px -416px}
.ma_review .rv_m_wrap .rv_m_list .rv_m_txt .id {display:block; padding-top:28px; color:#606060; font-size:16px; line-height:24px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_img {position:absolute; left:407px; top:0; width:1372px; height:360px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_img:after{content:'';display:table;clear:both;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_img li {float:left; width:720px; height:420px;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_img .img_wrap {position:relative; width:520px; height:324px; overflow:hidden;}
.ma_review .rv_m_wrap .rv_m_list .rv_m_img .img_wrap img {position:absolute; width:100%; height:auto; margin:auto; top:50%; left:0; -ms-transform: translateY( -50% ); -moz-transform: translateY( -50% ); transform: translateY( -50% );}
.ma_review .rv_m_wrap .rv_m_list .rv_major_img {position:absolute; z-index:1; left:747px; top:80px; width:340px; height:340px;}
.ma_review .rv_m_wrap .rv_m_list .rv_major_img li {position:absolute; left:0; top:0; width:340px; height:340px; opacity:0; transform:translate(100px,0px);}
.ma_review .rv_m_wrap .rv_m_list .rv_major_img li:nth-of-type(1) { opacity:1; transform:translate(0px,0px); }
.ma_review .rv_m_wrap .rv_m_list .rv_major_img li.on {z-index:2;}
.ma_review .dim_ma_wrap {position:absolute; left:50%; top:87px; width:1920px; height:1px; margin-left:-960px;}
.ma_review .dim_ma_wrap span {position:absolute; z-index:6; right:0; top:0; width:720px; height:420px; background:#fff; background:-moz-linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%);
    background:-webkit-linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%);
    background:linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%);  opacity:0.8;}

/* 테마 */
.ma_thema {height:400px; margin-top:140px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main_thema.jpg') center no-repeat; background-size:1920px 400px;}
.ma_thema .thema_wrap {width:1180px; margin:0 auto; text-align:center}
.ma_thema .thema_wrap .desc {padding-top:60px; color:#fff; opacity:0.5; font-weight:700; font-size:20px; line-height:30px;}
.ma_thema .thema_wrap .thema_tag {display:inline-block; position:relative; margin-top:101px; padding:0 199px 0 38px; padding-bottom:9px; border-bottom:4px solid #fff;}
.ma_thema .thema_wrap .thema_tag:before {content:''; position:absolute; left:0; top:0; width:26px; height:59px; background:url('https://www.cjcookit.com/cjkit/web/images/common/img_main.png') -550px -80px no-repeat; background-size:800px 800px;}
.ma_thema .thema_wrap .thema_tag strong {color:#fff; font-weight:700; font-size:40px; line-height:56px;}
.ma_thema .thema_wrap .thema_tag .txt {position:absolute; right:0; top:17px; color:#fff; font-weight:700; font-size:15px; line-height:23px}

/* 상품 */
.ma_pd_wrap {width:1180px; margin:140px auto 0;}
.ma_pd_wrap:after{content:'';display:table;clear:both;}
.ma_pd_wrap .fl_l {float:left; width:500px;}
.ma_pd_wrap .fl_r {float:right; width:500px;}
.ma_pd_wrap .img_major {position:relative;}
.ma_pd_wrap .img_major .fg {position:absolute; left:0; bottom:0; height:35px; padding:0 20px; background-color:#202020; color:#fff; font-size:14px; font-weight:700; line-height:35px; text-align:center}
.ma_pd_wrap .pd_tit {margin-top:32px; color:#101010; font-weight:700; font-size:36px; line-height:50px}
.ma_pd_wrap .desc_txt {margin-top:16px; color:#606060; font-size:15px; line-height:23px}
.ma_pd_wrap .ma_pd_list {margin-top:32px;}
.ma_pd_wrap .ma_pd_list:after{content:'';display:table;clear:both;}
.ma_pd_wrap .ma_pd_list ul {display:table; table-layout:fixed; width:100%; border-top:1px solid #e0e0e0;}
.ma_pd_wrap .ma_pd_list li.item {display:table-row;}
.ma_pd_wrap .ma_pd_list .pro_module {border-bottom:1px solid #e0e0e0;}
/* .ma_pd_wrap .ma_pd_list .img_wrap {display:table-cell; width:132px; height:132px; border-bottom:1px solid #e0e0e0; background-color:#f2f2f2; vertical-align:middle;} */
/* .ma_pd_wrap .ma_pd_list .img_wrap {position:static; display:table-cell; width:132px; height:132px; border-bottom:1px solid #e0e0e0; background-color:#f2f2f2; vertical-align:middle;} */ /* IE DIm 영역오류 */
.ma_pd_wrap .ma_pd_list .img_wrap {position:static; display:table-cell; width:132px; height:132px; background-color:#f2f2f2; vertical-align:middle;}
.ma_pd_wrap .ma_pd_list .img_wrap .selling_fin {width:132px; line-height:100%;}
.ma_pd_wrap .ma_pd_list .img_wrap .selling_fin p.txt {position:relative; top:50%; margin-top:-12px; font-size:15px; line-height:23px}
/* .ma_pd_wrap .ma_pd_list .txt_wrap {display:table-cell; width:308px; height:132px; padding:18px 0 17px 18px; border-bottom:1px solid #e0e0e0; vertical-align:middle;} */ /* IE DIm 영역오류 */
.ma_pd_wrap .ma_pd_list .txt_wrap {display:table-cell; width:308px; height:132px; padding:18px 0 17px 18px; vertical-align:middle;}
.ma_pd_wrap .ma_pd_list .txt_wrap .tit_info .tit {width:290px; max-height:48px; word-break:break-all; white-space:pre-line; line-height:24px;-moz-line-clamp:2;-ms-line-clamp:2;-webkit-line-clamp:2;}
.ma_pd_wrap .ma_pd_list .txt_wrap .price_info {padding-top:12px;}
/* .ma_pd_wrap .ma_pd_list .act_btn_wrap{display:table-cell; width:60px; height:132px; padding-bottom:18px; border-bottom:1px solid #e0e0e0; text-align:right;  vertical-align:bottom;} */ /* IE DIm 영역오류 */
.ma_pd_wrap .ma_pd_list .act_btn_wrap{display:table-cell; width:60px; height:132px; padding-bottom:18px; text-align:right;  vertical-align:bottom;} 
.ma_pd_wrap .mds_pick {margin-top:80px;}
.ma_pd_wrap .pd_open .pd_tit {position:relative; z-index:2; margin-top:-28px;}
.ma_pd_wrap .pd_introd {margin-top:80px;}
.ma_pd_wrap .pd_introd .pd_tit {margin-top:8px;}

/* 공지사항 */
.ma_notice {width:100%; min-width:1260px; height:64px; margin-top:140px; border-top:1px solid #e0e0e0;}
.ma_notice .not_m_wrap {width:1180px; margin:0 auto; padding-top:20px;}
.ma_notice .not_m_wrap a {display:block}
.ma_notice .not_m_wrap dl {}
.ma_notice .not_m_wrap dl:after{content:'';display:table;clear:both;}
.ma_notice .not_m_wrap dt {float:left; width:300px; color:#101010; font-weight:700; font-size:17px; line-height:24px}
.ma_notice .not_m_wrap dd {float:left; padding-right:24px; color:#606060; font-size:15px; line-height:23px}
.ma_notice .not_m_wrap dd time {color:#606060; font-size:15px; line-height:23px}

/* 랜선시식 캠페인 */
.ma_lansun{background:#f7f7f7;margin-top:140px;overflow:hidden;}
.ma_lansun .inner{width:1180px; margin:0 auto;padding:60px 0;overflow: hidden;}
.ma_lansun .slide_wrap .ui_carousel_list:after{content:''; display:inline-block; position:absolute; right:0; top:0; width:206px; height:618px; background:rgba(247,247,247,0.6);
background:linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(247,247,247,0.6) 96%);}
.ma_lansun .tit_box{position:relative;margin-bottom:42px;}
.ma_lansun .tit_box em{position:relative;display:inline-block;font-size:15px;line-height:45px;color:#ee0700;font-weight:700;padding-left:20px;}
.ma_lansun .tit_box em:before{content:'';display:block;position:absolute;left:0;top:17px;width:12px;height:12px;background:#ee0700;border-radius:100%;}
.ma_lansun .tit_box h2{font-size:40px;line-height:56px;font-weight:700;color:#101010;border-bottom:0;padding-bottom:0;}
.ma_lansun .tit_box p{font-size:15px;line-height:23px;color:#606060;margin-top:10px;}
.ma_lansun .tit_box .btn_review{position:absolute;right:0;bottom:2px;font-size:16px;font-weight:700;color:#101010;background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_instagram.svg') no-repeat 0 2px;padding-left:26px;}
.ma_lansun .tit_box .btn_review.ico_none{background:none;}
.ma_lansun .tit_box .btn_review:after{content:'';display:inline-block;width:14px;height:20px;background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_lansun_arrow.svg') no-repeat 0 2px;vertical-align:top;margin-left:4px;}
.ma_lansun .ui_carousel_track{display:flex;} 
.ma_lansun .ui_carousel_track .slide_conts{width:333px;margin-right:16px;vertical-align:top;}
.ma_lansun .ui_carousel_track .slide_conts a:focus{border:0;outline:0;}
.ma_lansun .slide_conts .txt_wrap{position:relative;padding-top:20px;}
.ma_lansun .slide_conts .txt_wrap .rv_tit{display:block;width:314px;font-size:20px;font-weight:700;color:#101010;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.ma_lansun .slide_conts .txt_wrap .rv_txt{width:314px;margin-top:15px;font-size:15px;line-height:23px;color:#606060;height:46px;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;-moz-line-clamp:2;-ms-line-clamp:2;-webkit-line-clamp:2;}
.ma_lansun .slide_conts  .txt_wrap .fam_info_box{padding:22px 0 65px;display:flex;align-items:center;}
.ma_lansun .slide_conts  .txt_wrap .fam_info_box > p{margin-left:16px;font-size:15px;color:#101010;}
.ma_lansun .ui_carousel_track .slide_arrow_wrap{position:absolute;left:0p;bottom:0;width:105px;}
.ma_lansun .slide_arrow_wrap .arr_area{position:relative;}
.ma_lansun .slide_arrow_wrap .btn_arrow {position:absolute; width:24px; height:24px; background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_set.png') no-repeat; background-size:800px 800px;}
.ma_lansun .slide_arrow_wrap .btn_arrow.prev {bottom:0; left:0; background-position:-540px 0;}
.ma_lansun .slide_arrow_wrap .btn_arrow.next {bottom:0; left:82px; background-position:-564px 0;}
.ma_lansun .count_wrap {position:absolute; left:33px; bottom:0; width:42px; text-align:center; z-index:2;}
.ma_lansun .count_wrap .num {display:inline-block; color:#101010; font-size:18px; line-height:27px; font-weight:400; vertical-align:middle; letter-spacing:2px;}
.ma_lansun .count_wrap .num strong {font-weight:500;}

/* 웹매거진 */
.ma_magazine{background:#fff;margin-top:140px;overflow:hidden;}
.ma_magazine .link_ban{display:block; width:1180px;height:523px;margin:0 auto;overflow: hidden;background:#f8f8f8;}
/*삭제예정*/
.ma_magazine .inner{display:block; width:1180px;margin:0 auto;overflow: hidden;}
.ma_magazine .tit_box h2 {color:#101010; font-weight:700; font-size:40px; line-height:56px;}
.ma_magazine .tit_box p{margin-bottom:40px;font-size:15px;line-height:23px;color:#606060;margin-top:14px;}
.ma_magazine .tit_box .btn_review {position:absolute; right:0; bottom:10px; color:#202020; font-weight:700; font-size:18px; line-height:27px;}
.ma_magazine .tit_box .btn_review{bottom:0;}
.ma_magazine .tit_box .lbtn_review:after{content:'';display:inline-block;width:14px;height:20px;background:url('https://www.cjcookit.com/cjkit/web/images/common/ico_lansun_arrow.svg') no-repeat 0 2px;vertical-align:top;margin-left:4px;}

.ma_magazine .sec_cont{margin-top:40px;}
.ma_magazine .sec_cont .img_wrap{display:block;float:left;width:664px;height:523px;}
.ma_magazine .sec_cont .img_wrap img{width:100%;}
.ma_magazine .sec_cont .txt_cont{float:left;padding:60px 34px 45px 39px;}
.ma_magazine .sec_cont dl{padding-bottom:42px;}
.ma_magazine .sec_cont dl dt{font-size:24px;color:#101010;font-weight:700;}
.ma_magazine .sec_cont dl dt .ico{position:relative;top:-2px;display:inline-block;margin-right:14px;vertical-align:middle;height:30px;line-height:30px;padding:0 14px;text-align:center;font-size:17px;letter-spacing:-0.5px;background:#bfd918;color:#101010;font-weight:700;border-radius:30px;}
.ma_magazine .sec_cont dl dd{padding-top:15px;color:#606060;font-size:18px;line-height:28px;}
.ma_magazine .sec_cont dl dd strong{color:#000;font-weight:700;}
.ma_magazine .sec_cont dl dd strong em{text-decoration:underline;color:#d0021b;}
.ma_magazine .sec_cont ul{overflow:hidden;}
.ma_magazine .sec_cont ul li{float:left;width:131px;margin-left:25px;}
.ma_magazine .sec_cont ul li:first-child{margin-left:0;}
.ma_magazine .sec_cont ul li .thumb{display:block;width:131px;height:131px;}
.ma_magazine .sec_cont ul li .thumb img{width:100%;}
.ma_magazine .sec_cont ul li .desc{display:block;padding-top:17px;font-size:16px;}
.ma_magazine .sec_cont ul li .desc strong{display:block;margin-bottom:5px;font-weight:700;color:#101010;font-size:18px;}


