@CHARSET "UTF-8";
body, html {
  	font-family: Arial;
  	margin: 0;
  	padding: 0;
}

td {
	width: 300px;
}

.div_image {
	position: relative;	
}

.div01 {
	position: absolute;
	top: 5%;
	left: 5%;
}

.div02 {
	height: :50px;
	margin-top: 30px;
	margin-bottom: 14px;
	padding-left: 90px;
}

.div03 {
	margin-bottom: 20px;
	padding-left: 80px;	
}

.div04 {
	height: :50px;
	font-size: 10px;	
	margin-bottom: 18px;
	padding-left: 85px;
}

.div05 {	
	padding-left: 80px;
}

.tab01 {	
}

.tab01_input01 {
	width: 272px;
	height: 50px;
	padding-left: 15px;
}

.tab01_input02 {
	width: 294px;
	height: 50px;
	background-color: black;
	color: white;
}

.tab01_input02:HOVER {
	background-color: #868686;
}

.tab02 {
	
}

.tab02_td01 {
	width: 600px;	
}

.tab02_td02 {
	background-color: #FFE400;
	color: black;
	border: 0;
	height: 30px;	
}

.tab03 {

	text-align: center;	
}

.tab03_td01 {

	width: 70px;
}

.tab03_td02 {

	width: 86px;
}

.tab03_td03 {

	width: 105px;
}

.tab03_td04 {

	width: 4px;
}

.tab03_a01 {
	text-decoration: none;
	color: black;
}

